In [4]:
#s3 bucket connection
import boto
access_key = ''
secret_key = ''
conn = boto.connect_s3(aws_access_key_id=access_key, aws_secret_access_key=secret_key)

In [5]:
#listing all bucket
for bucket in conn.get_all_buckets():
    print("{name}\t{created}".format(name=bucket.name, created=bucket.creation_date))

mis-612-project-1	2023-04-15T17:01:41.000Z

In [6]:
#creating bucket
bucket1 = conn.create_bucket('mis-612-project-1-1')

In [7]:
#getting bucket
bucket2 = conn.get_bucket('mis-612-project-1-1')

In [15]:
#deleting object from a bucket
#bucket2.delete_key('object name')

In [8]:
#uploading csv file in s3
from io import StringIO
import boto3
import pandas as pd

hc = pd.read_csv(r'E:\MSBAN\3. Spring 2023\MIS 612- Cloud Coumputing\Project\Electric_Vehicle_Population_Data.csv')

s3 = boto3.client('s3', aws_access_key_id=access_key, aws_secret_access_key=secret_key)
csv_buf = StringIO()
hc.to_csv(csv_buf, header=True, index=False)
csv_buf.seek(0)
s3.put_object(Bucket='mis-612-project-1-1', Body=csv_buf.getvalue(), Key='e-vehicle.csv')

{'ResponseMetadata': {'RequestId': 'ZG9BS48EVFJVCB53',
  'HostId': 'grpoxALmRnmrtqh/IjSGhrREnKfE2jM3iekr632d0pyzgRiU8zJoGCWEClmjLqgGTIJHATABkiY=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'grpoxALmRnmrtqh/IjSGhrREnKfE2jM3iekr632d0pyzgRiU8zJoGCWEClmjLqgGTIJHATABkiY=',
   'x-amz-request-id': 'ZG9BS48EVFJVCB53',
   'date': 'Fri, 21 Apr 2023 22:49:04 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"61dcf80c213394999fffdc028db410b6"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"61dcf80c213394999fffdc028db410b6"',
 'ServerSideEncryption': 'AES256'}

In [9]:
#read data from s3
import os
import boto3
import pandas as pd
import sys

if sys.version_info[0] < 3:
    from StringIO import StringIO
else:
    from io import StringIO
    
client = boto3.client('s3', aws_access_key_id=access_key, aws_secret_access_key=secret_key)

bucket_name = 'mis-612-project-1-1'
object_key = 'e-vehicle.csv'

csv_obj = client.get_object(Bucket = bucket_name, Key = object_key)
body = csv_obj['Body']
csv_string = body.read().decode('utf-8')

In [10]:
df = pd.read_csv(StringIO(csv_string))

In [12]:
df.head(5)

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5YJ3E1EB2J,Suffolk,Suffolk,VA,23435.0,2018,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,215,0,NaN,476647986,POINT (-76.42443 36.8752),NaN,5.180008e+10
1,5YJ3E1ECXL,Yakima,Yakima,WA,98908.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,308,0,14.0,103490145,POINT (-120.56916 46.58514),PACIFICORP,5.307700e+10
2,WA1LAAGE7M,Yakima,Yakima,WA,98908.0,2021,AUDI,E-TRON,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,222,0,14.0,144941534,POINT (-120.56916 46.58514),PACIFICORP,5.307700e+10
3,5YJ3E1EA1K,Danville,Danville,VA,24541.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220,0,NaN,168513922,POINT (-79.4172 36.58598),NaN,5.159000e+10
4,1FADP5CU9E,Norfolk,Norfolk,VA,23518.0,2014,FORD,C-MAX,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,19,0,NaN,150749378,POINT (-76.21549 36.92478),NaN,5.171001e+10

In [13]:
#uploading file from api
import sys
import requests
import boto3
from io import StringIO

API_KEY = ''
API_URL = f"https://data.nasdaq.com/api/v3/datatables/ZILLOW/DATA.csv?api_key={API_KEY}"
res = requests.get(API_URL)

access_key = ''
secret_key = ''
bucket_name = 'mis-612-project-1-1'
object_key = 'zilo.csv'

csv_buf = StringIO(res.content.decode())
s3 = boto3.client('s3', aws_access_key_id=access_key, aws_secret_access_key=secret_key)
s3.put_object(Bucket=bucket_name, Body=csv_buf.getvalue(), Key=object_key)

{'ResponseMetadata': {'RequestId': 'F1AJ2EFTYTZV7XTG',
  'HostId': 'l0/8z6XfgRTKJWcbSuJsSQuhAQPB8EFn3hxfeUwAStsdG9mWSXdUJGhEiffQTkYqrUPCT7rYaxU=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'l0/8z6XfgRTKJWcbSuJsSQuhAQPB8EFn3hxfeUwAStsdG9mWSXdUJGhEiffQTkYqrUPCT7rYaxU=',
   'x-amz-request-id': 'F1AJ2EFTYTZV7XTG',
   'date': 'Fri, 21 Apr 2023 22:51:43 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"b3b5105fb9279e087b0b1dcd1089302f"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"b3b5105fb9279e087b0b1dcd1089302f"',
 'ServerSideEncryption': 'AES256'}

In [14]:
# reding file
import os
import boto3
import pandas as pd
import sys

if sys.version_info[0] < 3:
    from StringIO import StringIO
else:
    from io import StringIO
    
client = boto3.client('s3', aws_access_key_id=access_key, aws_secret_access_key=secret_key)

bucket_name = 'mis-612-project-1-1'
object_key = 'zilo.csv'

csv_obj = client.get_object(Bucket = bucket_name, Key = object_key)
body = csv_obj['Body']
csv_string = body.read().decode('utf-8')

In [15]:
df = pd.read_csv(StringIO(csv_string))

In [16]:
df.head()

  indicator_id  region_id        date          value
0         ZSFH      99999  2023-03-31  436583.748020
1         ZSFH      99999  2023-02-28  438497.488834
2         ZSFH      99999  2023-01-31  442532.972885
3         ZSFH      99999  2022-12-31  443303.770642
4         ZSFH      99999  2022-11-30  452608.490554